.theme__button__wrap {
	display: inline-block;
}

.theme__button {
	width: 24px;
	height: 24px;

	padding: 2px;

	border: none;
	cursor: pointer;

	&[data-state='on'] {
		color: blue;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}
}
